---

services:
  jellyfin:
    image: ${JELLYFIN_IMAGE}:${JELLYFIN_IMAGE_VERSION}
    container_name: ${JELLYFIN_NAME}
    hostname: ${JELLYFIN_NAME}
    network_mode: host
    restart: unless-stopped
    environment:
      - TZ=${TZ}
    # Optional - may be necessary for docker healthcheck to pass if running in host network mode
    extra_hosts:
      - 'host.docker.internal:host-gateway'
    volumes:
      - ${JELLYFIN_CONFIG}:/config
      - ${JELLYFIN_CACHE}:/cache
      - ${JELLYFIN_MEDIA}:/media
    healthcheck:
      # TODO: Confirm '/health' works as expected: https://jellyfin.org/docs/general/post-install/networking/advanced/monitoring
      test: ["CMD-SHELL", "curl -fsS http://127.0.0.1:${JELLYFIN_PORT}/health || exit 1"]
      interval: 30s
      retries: 3
      start_period: 20s
      timeout: 5s
    logging:
      driver: json-file
      options:
        max-size: "10m"
        max-file: "3"

  jellyseerr:
    image: ${JELLYSEERR_IMAGE}:${JELLYSEERR_IMAGE_VERSION}
    container_name: ${JELLYSEERR_NAME}
    hostname: ${JELLYSEERR_NAME}
    restart: unless-stopped
    depends_on:
      jellyfin:
        condition: service_healthy
    environment:
      - LOG_LEVEL=${JELLYSEERR_LOG_LEVEL}
      - TZ=${TZ}
      - PORT=${JELLYSEERR_PORT}
    ports:
      - "${JELLYSEERR_PORT}:${JELLYSEERR_PORT}"
    volumes:
      - ${JELLYSEERR_CONFIG}:/app/config
    healthcheck:
      test: ["CMD-SHELL", "wget --no-verbose --tries=1 --spider http://127.0.0.1:${JELLYSEERR_PORT}/api/v1/status || exit 1"]
      interval: 15s
      retries: 3
      start_period: 30s
      timeout: 3s
    logging:
      driver: json-file
      options:
        max-size: "10m"
        max-file: "3"
