---

services:
  jellyfin:
    image: ${JELLYFIN_IMAGE:-jellyfin/jellyfin}:${JELLYFIN_IMAGE_VERSION:-latest}
    container_name: ${JELLYFIN_NAME:-jellyfin}
    hostname: ${JELLYFIN_NAME:-jellyfin}
    # TODO: Confirm this is correct
    # user: ${PUID:-1000}:${PGID:-1000}
    network_mode: host
    restart: unless-stopped
    environment:
      - TZ=${TZ:-America/Chicago}
    extra_hosts:
      - 'host.docker.internal:host-gateway'
    volumes:
      - ${JELLYFIN_CONFIG:-/opt/jellyfin/config-dir}:/config
      - ${JELLYFIN_CACHE:-/opt/jellyfin/cache-dir}:/cache
      - ${JELLYFIN_MEDIA:-/media}:/media
    healthcheck:
      test: ["CMD-SHELL", "curl -fsS http://127.0.0.1:${JELLYFIN_PORT:-8096}/health || exit 1"]
      interval: 30s
      retries: 3
      start_period: 20s
      timeout: 5s
    logging:
      driver: json-file
      options:
        max-size: "10m"
        max-file: "3"

  # jellyseerr:
  #   image: ${JELLYSEERR_IMAGE:-fallenbagel/jellyseerr}:${JELLYSEERR_IMAGE_VERSION:-latest}
  #   container_name: ${JELLYSEERR_NAME:-jellyseerr}
  #   hostname: ${JELLYSEERR_NAME:-jellyseerr}
  #   restart: unless-stopped
  #   depends_on:
  #     jellyfin:
  #       condition: service_healthy
  #   environment:
  #     - LOG_LEVEL=${JELLYSEERR_LOG_LEVEL:-info}
  #     - TZ=${TZ:-America/Chicago}
  #     - PORT=${JELLYSEERR_PORT:-5055}
  #   ports:
  #     - "${JELLYSEERR_PORT:-5055}:${JELLYSEERR_PORT:-5055}"
  #   extra_hosts:
  #     - 'host.docker.internal:host-gateway'
  #   volumes:
  #     - ${JELLYSEERR_CONFIG:-/opt/jellyseerr/config}:/app/config
  #   healthcheck:
  #     test: ["CMD-SHELL", "wget --no-verbose --tries=1 --spider http://127.0.0.1:${JELLYSEERR_PORT:-5055}/api/v1/status || exit 1"]
  #     interval: 15s
  #     retries: 3
  #     start_period: 30s
  #     timeout: 3s
  #   logging:
  #     driver: json-file
  #     options:
  #       max-size: "10m"
  #       max-file: "3"

  # https://tunarr.com/getting-started/setup/
  # https://tunarr.com/configure/clients/jellyfin/
  tunarr:
    image: ${TUNARR_IMAGE:-ghcr.io/chrisbenincasa/tunarr}:${TUNARR_IMAGE_VERSION:-1.1.15}
    container_name: ${TUNARR_NAME:-tunarr}
    hostname: ${TUNARR_NAME:-tunarr}
    ports:
      - ${TUNARR_SERVER_PORT:-8988}:8000
    extra_hosts:
      - 'host.docker.internal:host-gateway'
    environment:
      - TZ=${TZ:-America/Chicago}
      - LOG_LEVEL=${TUNARR_LOG_LEVEL:-info}
    volumes:
      - ${TUNARR_CONFIG:-/opt/tunarr/config}:/config/tunarr
    restart: unless-stopped
    depends_on:
      jellyfin:
        condition: service_healthy
