{% load settings static heroicons lemmy_filters markdownify %}
<a class="lemmy-post vertical"
   href="{{ comment.comment.ap_id|lemmyverse_link }}"
   title="A comment by {{ comment.creator.display_name|default:comment.creator.name }}">
    <div class="description no-grow">
        <div class="meta underline">
            {% heroicon_micro 'arrow-up' class="icon" %} {{ comment.counts.score }}
            {% heroicon_micro 'chat-bubble-oval-left' class="icon" %} {{ comment.counts.child_count }}
            {% heroicon_micro 'user' class="icon" %} {{ comment.creator.display_name|default:comment.creator.name|truncatechars:20 }} -
            {{ comment.community.title|default:comment.community.name|truncatechars:20 }}
        </div>
    </div>
    <div class="textbox md text-small grow">
        {{ comment.comment.content|truncatechars:450|markdownify:"lemmy-comment"|no_links }}
    </div>
</a>
