__pycache__
venv
.coverage
*.bak
*.swp
*.sqlite*
*.sqlite*journal
*.tar
.dockerignore*
.trivyignore*
*.env*
.git*
contrib
data-dumps
data*.json
docker-compose*
docker-data
docs
lbrynet-linux.zip
requirements-build.txt
yamlfmt.yml
CHANGELOG.md
CONTRIBUTING.md
Dockerfile
README.md
