# Core django shit
Django~=6.0				# Required.
djangorestframework			# Required for external integrations and transparency
psycopg[binary,pool]			# Required for DB connectivity
pyyaml					# Required to parse default-tags.yaml
requests				# Required to issue any sort of requests to LBRY
django-prometheus			# Required for instrumentation
django-redis				# Required for sane, efficient caching
django_compressor			# Required for compiling SASS at runtime
django-libsass				# Required for compiling SASS at runtime
django-markdownify			# Required for Lemmy integration and descriptions
django-migration-linter			# Required for migration health
django-deprecate-fields			# Required for migration health
django-storages[boto3]			# Required for S3 compat
django-cleanup				# Required for image cleanup
django-health-check			# Required for health check endpoint
heroicons[django]			# Required. Replaced FontAwesome once I grew dissatisfied with it
pillow					# Required for thumbnail transcoding
gunicorn				# Required to actually serve any requests
user-agents				# Required for bot detection in traffic classifier rules

iptools					# Optional-ish, included to make adding RFC1918 addresses to local addresses in settings.py
django-debug-toolbar			# Optional, used in testing
openai					# Optional, used for the ai-tag command
coverage				# Optional, needs to be in the container for test purposes
