---

services:
  jellyfin:
    image: ${JELLYFIN_IMAGE}:${JELLYFIN_IMAGE_VERSION}
    container_name: ${JELLYFIN_NAME}
    hostname: ${JELLYFIN_NAME}
    network_mode: host
    restart: unless-stopped
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
    volumes:
      - ${JELLYFIN_CONFIG}:/config
      - ${JELLYFIN_CACHE}:/cache
      - ${JELLYFIN_MEDIA}:/media
    healthcheck:
      # TODO: Confirm '/health' works as expected: https://jellyfin.org/docs/general/post-install/networking/advanced/monitoring
      test: >
        curl -fsS http://127.0.0.1:${JELLYFIN_PORT}/health || exit 1
      interval: 30s
      timeout: 5s
      retries: 3
      start_period: 20s
    logging:
      driver: json-file
      options:
        max-size: "10m"
        max-file: "3"

  jellyseerr:
    image: ${JELLYSEERR_IMAGE}:${JELLYSEERR_IMAGE_VERSION}
    container_name: ${JELLYSEERR_NAME}
    hostname: ${JELLYSEERR_NAME}
    restart: unless-stopped
    depends_on:
      jellyfin:
        condition: service_healthy
    environment:
      - LOG_LEVEL=${JELLYSEERR_LOG_LEVEL}
      - TZ=${TZ}
      - PORT=${JELLYSEERR_PORT}
    ports:
      - "${JELLYSEERR_PORT}:${JELLYSEERR_PORT}"
    volumes:
      - ${JELLYSEERR_CONFIG}:/app/config
    healthcheck:
      test: >
        curl -fsS http://127.0.0.1:${JELLYSEERR_PORT} || exit 1
      interval: 30s
      timeout: 5s
      retries: 3
      start_period: 15s
    logging:
      driver: json-file
      options:
        max-size: "10m"
        max-file: "3"
