{% extends "error.html" %}
{% block funni %}
    @w@
{% endblock funni %}
{% block error_code %}
    500
{% endblock error_code %}
{% block subtitle %}
    Oopsie
{% endblock subtitle %}
{% block error_desc %}
    <p>This one's probably on us. If you continue to get this error, contact the site administrator.</p>
    <p>Mention "500", the URL you tried to access, and the time it happened.</p>
    <p>
        That, or you're accessing via the bare IP and not the domain name, in which case you should stop fucking doing that.
    </p>
{% endblock error_desc %}
