{% load static %}
{% load settings %}
<!DOCTYPE html>
<html class="dark" lang="en">
    <head>
        {% include "common-head.html" %}
        {% block meta %}
            {# Generic metadata #}
            <meta name="description"
                  content="{% block meta_description %}An open-source search engine for 3D-printed and DIY guns{% endblock meta_description %}">
            <meta name="author" content="The Shittinator">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <meta name="theme-color" content="#2a2a2a">
            {# Twitter-specific metadata #}
            <meta name="twitter:card"
                  content="{% block twitter_card %}summary{% endblock twitter_card %}">
            <meta name="twitter:creator" content="@theshittinator">
            <meta name="twitter:site" content="@theshittinator">
        {% endblock meta %}
        {% block ogmeta %}
            <meta property="og:site_name"
                  content="{% settings_value 'GUNCAD_SITE_NAME' %}">
            <meta property="og:title"
                  content="{% block og_title %}{% settings_value 'GUNCAD_SITE_NAME' %}{% endblock og_title %}">
            <meta property="og:description"
                  content="{% block og_description %}{% settings_value 'GUNCAD_SITE_TAGLINE' %}{% endblock og_description %}">
            <meta property="og:image"
                  content="{% block og_image %}{{ request.scheme }}://{{ request.META.HTTP_HOST }}{% static 'generated/icon-1024x1024.png' %}{% endblock og_image %}">
            <meta property="og:url" content="{{ request.build_absolute_uri }}">
            <meta property="og:type" content="website">
        {% endblock ogmeta %}
        {% block schema %}
            <script type="application/ld+json">
							{
								"@context": "https://schema.org",
								"@type": "Organization",
								"name": "{% settings_value 'GUNCAD_SITE_NAME' %}",
								"url": "{{ request.scheme }}://{{ request.META.HTTP_HOST }}",
								"logo": "{{ request.scheme }}://{{ request.META.HTTP_HOST }}{% static 'generated/icon-1024x1024.png' %}",
								"sameAs": [
									"https://twitter.com/theshittinator",
									"https://gitlab.com/guncadindex"
								]
							}
            </script>
            <script type="application/ld+json">
							{
								"@context": "https://schema.org",
								"@type": "WebSite",
								"name": "{% settings_value 'GUNCAD_SITE_NAME' %}",
								"url": "{{ request.scheme }}://{{ request.META.HTTP_HOST }}",
								"potentialAction": {
									"@type": "SearchAction",
									"target": "{{ request.scheme }}://{{ request.META.HTTP_HOST }}/search?query={search_term_string}",
									"query-input": "required name=search_term_string"
								}
							}
            </script>
        {% endblock schema %}
        {% block extraschema %}
        {% endblock extraschema %}
        {% block styles %}
        {% endblock styles %}
        {% block extrahead %}
        {% endblock extrahead %}
        <title>
            {% block title %}
                {% settings_value 'GUNCAD_SITE_NAME' %}
            {% endblock title %}
            {% block title_suffix %}
                -
                {% settings_value 'GUNCAD_SITE_NAME' %}
            {% endblock title_suffix %}
        </title>
    </head>
    <body>
        {% include "banner.html" %}
        <div id="bgwrapper">
            {% include "snowflakes.html" %}
            {% include "navbar.html" %}
            {% block precontent %}
            {% endblock precontent %}
            <div id="content">
                {% block messages %}
                    {% if messages %}
                        {% for message in messages %}
                            <div class="message">
                                <p>{{ message }}</p>
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endblock messages %}
                {% block content %}
                {% endblock content %}
                {% include "paginator.html" %}
            </div>
            <div id="footer">
                {% block footer %}
                {% endblock footer %}
                {% include "footer.html" %}
            </div>
        </div>
    </body>
</html>
