{% load settings static outify %}
{% if vendors_footer and not age_gate and not hide_vendors and not request.blocked_region_action > 20 %}
    <div id="sponsor-wrapper" class="text-centered container">
        <div id="sponsored-vendors"
             class="text-centered flex flex-wrap justify-center">
            {% for vendor in vendors_footer %}
                {% include "vendor.html" %}
            {% endfor %}
        </div>
        <p class="disclaimer">
            These generous sponsor(s) keep us running and fund development.
            {% settings_value 'GUNCAD_SITE_NAME' %}
            may earn a commission on sales made using the above links and/or referral codes.
            {% if should_render_extra_vendors %}
                <a href="{% url 'allvendors' %}">Click here to see all of our partners.</a>
            {% endif %}
        </p>
    </div>
    <hr>
{% endif %}
<div class="grid-view-min">
    <div>
        <div id="footerbuttons" class="text-right-responsive">
            {% if not request.blocked_region_action > 40 %}
                {% settings_value 'GUNCAD_ADMIN_TWITTER' as admin_twitter %}
                {% if admin_twitter %}
                    <a class="footerbutton"
                       title="Contact us on Twitter (X)"
                       href="{{ admin_twitter }}"
                       target="_blank">
                        <img alt="X (Twitter) logo" src="{% static 'icons/x.svg' %}" />
                    Twitter</a>
                {% endif %}
                {% settings_value 'GUNCAD_ADMIN_CHAT' as admin_chat %}
                {% if admin_chat %}
                    <a class="footerbutton"
                       title="Get in touch with the community on Matrix"
                       href="{{ admin_chat }}"
                       target="_blank">
                        <img alt="Matrix logo" src="{% static 'icons/matrix.svg' %}" />
                    Matrix</a>
                {% endif %}
            {% endif %}
            {% settings_value 'GUNCAD_GIT_URL' as git_url %}
            {% if git_url %}
                <a class="footerbutton"
                   title="View the source code"
                   href="{{ git_url }}"
                   target="_blank">
                    <img alt="Git logo" src="{% static 'icons/git.svg' %}" />
                Source</a>
            {% endif %}
        </div>
        {% if not age_gate and not request.blocked_region_action > 20 %}
            <div id="footerbuttons" class="text-right-responsive">
                {% settings_value 'GUNCAD_ADMIN_BTC' as admin_btc %}
                {% if admin_btc %}
                    <a class="footerbutton small"
                       title="Donate Bitcoin to support hosting and development"
                       href="{{ admin_btc }}"
                       target="_blank">
                        <img alt="Bitcoin logo" src="{% static 'icons/btc.svg' %}" />
                    </a>
                {% endif %}
                {% settings_value 'GUNCAD_ADMIN_MONERO' as admin_monero %}
                {% if admin_monero %}
                    <a class="footerbutton small"
                       title="Donate Monero to support hosting and development"
                       href="{{ admin_monero }}"
                       target="_blank">
                        <img alt="Monero logo" src="{% static 'icons/monero.svg' %}" />
                    </a>
                {% endif %}
                {% settings_value 'GUNCAD_ADMIN_DONATIONS' as admin_donations %}
                {% if admin_donations %}
                    <a class="footerbutton small"
                       title="Donate to support hosting and development"
                       href="{{ admin_donations }}"
                       target="_blank">
                        <img alt="Ko-fi logo" src="{% static 'icons/kofi.svg' %}" />
                    </a>
                {% endif %}
            </div>
        {% endif %}
    </div>
    <div id="footertext" class="text-left-responsive">
        <p>
            {% settings_value 'GUNCAD_SITE_NAME' %}
            is a lightweight, open-source search engine for 3D-printed guns built by the community, for the community.
        </p>
        <p>
            This site is free and open-source software licensed under the terms of the <a href="https://www.gnu.org/licenses/agpl-3.0.en.html" target="_blank">GNU AGPLv3 license</a>. Content within is prohibited from being redisitributed commercially -- if you've been charged money to access this site or any content on it, please seek a refund.
        </p>
        <p>
            <a href="https://github.com/tailwindlabs/heroicons" target="_blank">Heroicons</a> licensed under the <a href="https://github.com/tailwindlabs/heroicons/blob/master/LICENSE">MIT License</a>
        </p>
        {% if not age_gate and not request.blocked_region_action > 70 %}
            <p>
                Community contributions by <a href="https://3dprintfreedom.com" target="_blank">3dprintfreedom</a>, <a href="https://x.com/cringelemon" target="_blank">@cringelemon</a>, <a href="https://x.com/MainePla" target="_blank">@MainePla</a>, and <a href="https://x.com/_GUMM13" target="_blank">@_GUMM13</a>. A very, very warm thanks to all of you who donate -- you keep this site afloat with your contributions.
            </p>
        {% endif %}
        {% settings_value 'GUNCAD_ADMIN_CONTACT' as admin_contact %}
        {% if admin_contact %}
            <p>{% settings_value 'GUNCAD_ADMIN_CONTACT' safe=True %}</p>
        {% endif %}
        {% if not age_gate %}
            <p>
                <a href="{% url 'api-root' %}">API</a>
                {% if request.user.is_staff %}
                    • <a href="{% url 'admin:index' %}">Admin</a>
                {% endif %}
                {% if not request.user.is_authenticated %}
                    • <a href="{% url 'login' %}">Log In</a>
                {% endif %}
                • <a href="{% url 'legal' %}">Legal</a>
            </p>
        {% endif %}
    </div>
</div>
<div id="versioninfo" class="text-centered">
    <p>
        {% settings_value 'GUNCAD_SITE_NAME' %}
        {% if not age_gate %}
            {# Turning djlint off here so it doesn't whitespace the shit out of this #}
            {# djlint:off #}
            (v:{% settings_value 'GUNCAD_COMMIT_REF' %} • tc:{{ request.traffic_classifier }} • uid:{{ request.traffic_user_id }} • h:{% settings_value 'GUNCAD_NODE_NAME' %})
            {# djlint:on #}
        {% endif %}
    </p>
</div>
