{% load static %}
{% load settings %}
<div id="navigation">
    <a class="logocontainer" href="{% url 'landing' %}">
        <img class="logo"
             src="{% static 'generated/icon-192x192.png' %}"
             alt="logo"
             width="48"
             height="48" />
        <span>
            <span class="site-title">{% settings_value 'GUNCAD_SITE_NAME' %}</span>
            <p>{% settings_value 'GUNCAD_SITE_TAGLINE' %}</p>
        </span>
    </a>
    <input id="drawer-button" type="checkbox" name="drawer-button" />
    <label title="Drawer swingout button" class="drawericon" for="drawer-button">
        {% heroicon_outline 'chevron-double-down' size=24 stroke_width=3 %}
    </label>
    <nav id="navbar">
        {% for link in admin_navbar_links %}
            {% if link.newtab and age_gate %}
                {# Hide offsite links if the user hasn't accepted the age gate yet #}
            {% elif link.newtab and request.blocked_region_action > 40 %}
                {# Hide offsite links for cucks, too #}
            {% else %}
                {% if link.destination != "url:invalid" %}
                    <a class="{{ link.css_class }}"
                       {% if link.newtab %}target="_blank"{% endif %}
                       href="{{ link.destination }}">{{ link.text }}
                        {% if link.newtab %}
                            {% heroicon_outline 'arrow-top-right-on-square' size=20 %}
                        {% endif %}
                    </a>
                {% endif %}
            {% endif %}
        {% empty %}
            <a href="{% url 'landing' %}">Home</a>
            <a href="{% url 'listreleases' %}">Browse</a>
            <a href="{% url 'discover' %}">Discover</a>
            <a href="{% url 'about' %}">About/FAQ</a>
        {% endfor %}
        {% if request.user.is_staff %}
            <a class="link-staff" href="{% url 'tools' %}">Tools {% heroicon_outline 'wrench' size=20 %}</a>
            {% if crowdsource_pending_votes > 0 %}
                <a class="link-staff" href="{% url 'tools-votes' %}">Votes ({{ crowdsource_pending_votes }})</a>
            {% endif %}
            {% if crowdsource_pending_reports > 0 %}
                <a class="link-staff" href="{% url 'tools-reports' %}">Reports ({{ crowdsource_pending_reports }})</a>
            {% endif %}
        {% endif %}
        {% if request.user.is_authenticated %}
            <form method="post" action="{% url 'logout' %}">
                {% csrf_token %}
                <button type="submit" class="link-staff">
                    Log Out {% heroicon_outline 'arrow-left-start-on-rectangle' size=20 %}
                </button>
            </form>
        {% endif %}
    </nav>
</div>
{% if request.blocked_region_action > 40 %}
    <div class="sitewidebanner flush"
         style="background-color:#400;
                color:#fff">
        Access from region "{{ request.blocked_region }}" is heavily restricted. Some site functions will be unavailable. <a href="{% url 'about' %}">See here for more</a>.
    </div>
{% elif not age_gate %}
    {% for banner in admin_banners %}
        <div class="sitewidebanner {% if forloop.first %}flush{% endif %}"
             {% if banner.color %}style="background-color:{{ banner.color }};color:{{ banner.text_color }};"{% endif %}>
            {{ banner.text|safe }}
        </div>
    {% endfor %}
{% endif %}
