{% now "n" as month %}
{% now "n-j" as today %}
{% if month == "12" %}
    {# https://pajasevi.github.io/CSSnowflakes/ #}
    <div class="snowflakes" aria-hidden="true">
        <script>
					document.addEventListener("DOMContentLoaded", () => {
						document.querySelectorAll('.snowflake').forEach(flake => {
							// shake animation
							const shake = getComputedStyle(flake).animationDuration;
							const shakeDur = parseFloat(shake) || 3;
							flake.style.animationDelay = -(Math.random() * shakeDur) + "s";

							// fall animation (inner element)
							const inner = flake.querySelector('.inner');
							if (!inner) return;
							const fall = getComputedStyle(inner).animationDuration;
							const fallDur = parseFloat(fall) || 10;
							inner.style.animationDelay = -(Math.random() * fallDur) + "s";
						});
					});
        </script>
        {% for i in "...................."|make_list %}
            <div class="snowflake">
                <div class="inner">❅</div>
            </div>
        {% endfor %}
    </div>
{% endif %}
