{% load settings %}
<!DOCTYPE html>
<html class="dark" lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/styles-maintenance.css">
        <link rel="icon" type="image/x-icon" href="/static/generated/favicon.ico">
        <!-- Google Fonts shit -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap"
              rel="stylesheet">
        <!-- End Google Fonts shit -->
        <title>Geoblocked</title>
    </head>
    <body>
        <div id="bgwrapper">
            <div id="navigation">
                <a class="logocontainer" href="/">
                    <img class="logo"
                         src="/static/generated/icon.svg"
                         alt="logo"
                         width="48"
                         height="48" />
                    <span>
                        <span class="site-title">{% settings_value 'GUNCAD_SITE_NAME' %}</span>
                        <p>{% settings_value 'GUNCAD_SITE_TAGLINE' %}</p>
                    </span>
                </a>
            </div>
            <div id="content">
                <div class="errorcontainer">
                    <div class="funni">QwQ</div>
                    <h1>Geoblocked</h1>
                    <h2>Visitors from {{ region }} cannot access this content</h2>
                    <p>Your region has been blocked from visiting this site for the following reason:</p>
                    <p>
                        <i>{{ reason|linebreaks }}</i>
                    </p>
                </div>
            </div>
        </div>
    </body>
</html>
