#
# GunCAD Index Docker Compose
# .env-template
#
# Template environment configuration file.
#
# Copy this file to `.env` in the current directory and adjust its settings
# before running `docker compose up` to start the stack.
#
# If any settings here are unclear or need more elaboration, please consult
# the deployment documentation at:
#   docs/admin/deployment.md
#
# There are three sections to this file:
#  1. Mandatory configuration. Please read it thoroughly
#  2. Cosmetic configuration. Adjust these settings to taste
#  3. Optional configuration. Defaults should be fine, but visit it if you have
#     problems or want something not terribly standard
#
# You may also want to spawn an admin account once the containers are up:
#  $ docker exec -it guncad-index_guncad-index_1 python3 /app/manage.py createsuperuser
#

# --- BEGIN MANDATORY CONFIGURATION ---
GUNCAD_HTTPS=False # Set this value to true if you wanna serve over HTTPS. Disregarded for onion connections. Putting TLS termination in front of this stack is left as an exercise for the reader
GUNCAD_ALLOWED_HOSTS="127.0.0.1,localhost" # MUST be set. Django will refuse connections from other host headers
GUNCAD_CSRF_ORIGINS="http://localhost:8265,http://127.0.0.1:8265" # MUST be set to the accessible URLs of your Index instance. Ports are only required if using something nonstandard (ex. "https://guncadindex.com" would be fine, for example)
# MUST be set to some long random string. Here are some good options for that:
#
#   $ pwgen 64 1
#
#   $ tr -dc A-Za-z0-9 </dev/urandom | head -c 64; echo
#
# DO NOT use an online random number/string generator. Use something offline.
GUNCAD_SECRET_KEY="changeme-YOU_SHOULD_CHANGE_ME_BEFORE_DEPLOYING_OR_THE_APP_WILL_YELL_AT_YOU"

# Database creds, must stay in sync and be secure
# See the above comment about SECRET_KEY for ways to generate a good password
POSTGRES_PASSWORD=dontuseinproduction # These two as well. Set these to a strong password
GUNCAD_DB_PASS=dontuseinproduction_mismatch_please_read_envfile
# --- END OF MANDATORY CONFIGURATION ---

# --- BEGIN COSMETIC CONFIGURATION ---
# Basic site stuff
GUNCAD_SITE_NAME="GunCAD Index" # The name of the site, used in the header and a few other places
GUNCAD_SITE_TAGLINE="My personal search engine for guns" # The site tagline, used in the header and a few other places
GUNCAD_ADMIN_CONTACT="For server support, please consult your local Ouija board." # A blurb used in the footer for generic contact information. Can set it to whatever, though
#GUNCAD_ADMIN_TWITTER="" # Optional. Set to a link to your Twitter profile to put a button in the footer
#GUNCAD_ADMIN_DONATIONS="" # Optional. Set to a link to your Ko-fi profile to put a button in the footer
#GUNCAD_ADMIN_BTC="" # Optional. Set to a link or URI handler for bitcoin donos
#GUNCAD_ADMIN_MONERO="" # Optional. Set to a monero wallet URI handler
#GUNCAD_ADMIN_CHAT="" # Optional. Set to a link to a Matrix space/room for support
# --- END OF COSMETIC CONFIGURATION

# --- BEGIN OPTIONAL CONFIGURATION ---
# Basic site configuration
# Number of Gunicorn workers to use. Scale down for less memory footprint, scale up for higher load
# For what it's worth, the production GunCAD Index as of 3/2/26 has maybe 12 workers
#GUNCAD_GUNICORN_WORKERS=8
#GUNCAD_CRON_MINIMUM_DELAY=3600 # Minimum scraping delay. Don't set too low

# AI tagging configuration
# Set these keys if you want Grok to tag your shit. Will incur xAI charges
#GUNCAD_AI_XAI_API_KEY="whatever"
#GUNCAD_AI_BATCH_SIZE=25 # How many releases to tag each interval
#GUNCAD_AI_MODEL="whatever" # Pick one from the xAI docs

# Lemmy integration configuration
# Used for finding relevant communications on releases and displaying them below them
#GUNCAD_LEMMY_INSTANCE="https://lemmy.local" # The instance to hit, as a URL
#GUNCAD_LEMMY_INSTANCE_ENDPOINT="/api/v3" # The API endpoint. Shouldn't have to change this
#GUNCAD_LEMMY_INSTANCE_WHITELIST="forum.guncadindex.com,fosscad.io" # Optional. An instance whitelist to filter results
#GUNCAD_LEMMY_LEMMYVERSE_URL="https://lemmyverse.link" # If you want to use a different lemmyverse.link, change that here

# Database settings
# Don't touch this, otherwise you'll have to mess with the compose's health checks
POSTGRES_USER=django # Must match GUNCAD_DB_USER
POSTGRES_DB=guncad-index # Must match GUNCAD_DB_NAME
GUNCAD_DB_USER=django
GUNCAD_DB_NAME=guncad-index
#GUNCAD_DB_HOST=db
#GUNCAD_DB_PORT=5432

# Cache settings
# Shouldn't have to touch these either
GUNCAD_CACHE_BACKEND=valkey
#GUNCAD_CACHE_REDIS_HOST=valkey
#GUNCAD_CACHE_REDIS_PORT=6379
#GUNCAD_CACHE_REDIS_DB=0
#GUNCAD_CACHE_REDIS_PASSWORD=hunter2

# statsd-exporter settings
# Shouldn't need to touch these
GUNCAD_STATSD_HOST=statsd-exporter
GUNCAD_STATSD_PORT=9125
# --- END OF OPTIONAL CONFIGURATION ---
