#shellcheck disable=2034,2148
# =========================
# Global / shared settings
# =========================
TZ=America/Chicago
LOCALTIME_FILE=/etc/localtime
#TODO: Not used yet
PUID=1000
PGID=1000

# =========================
# Frigate
# =========================
FRIGATE_IMAGE=ghcr.io/blakeblackshear/frigate
FRIGATE_IMAGE_VERSION=0.17.0-tensorrt
FRIGATE_CONFIG_DIR=/opt/frigate/config
FRIGATE_STORAGE_DIR=/nvr/frigate/media
FRIGATE_NAME=frigate
FRIGATE_TMPFS_SIZE=2147483648
FRIGATE_SHM_SIZE=1gb
FRIGATE_RTSP_PASSWORD=
