{% extends "base.html" %}
{% load settings outify timefilters %}
{% block og_title %}
    {% settings_value 'GUNCAD_SITE_NAME' %}
    - Notice
{% endblock og_title %}
{% block title %}
    Notice
{% endblock title %}
{% block content %}
    <div class="subcontainer md">
        {% settings_value 'SESSION_COOKIE_AGE' as session_cookie_age %}
        <h1>Disclaimer</h1>
        <p>
            {% settings_value 'GUNCAD_SITE_NAME' %}
            is a search engine for DIY gun designs. It is not for children. By clicking "Agree", you acknowledge and agree that:
        </p>
        <ul>
            <li>You are at least 18 years of age</li>
            <li>
                You have read and agree to the site's <a href="{% url 'legal' %}">terms and policies outlined here</a>
            </li>
            <li>
                You understand that firearm-related information (including but not limited to design files) may be regulated in your jurisdiction
            </li>
            <li>
                You are legally permitted, under all applicable laws and regulations, to access and possess information about DIY firearms
            </li>
            <li>
                If you are a resident of a jurisdiction that restricts access to or dissemination of firearm-related technical information, you affirm that you are exempt from such restrictions or otherwise legally authorized to access it. Such jurisdictions may include, but are not limited to:
                <ul>
                    <li>California</li>
                    <li>Colorado</li>
                    <li>New Jersey</li>
                    <li>New York</li>
                </ul>
            </li>
            <li>
                You are <b>solely responsible</b> for ensuring your compliance with all applicable laws
            </li>
            <li>
                {% settings_value 'GUNCAD_SITE_NAME' %}
                <b>does not host, control, or distribute any linked content</b>. It is purely an index and search engine. You access any sites linked here at your own risk and subject to their terms and policies
            </li>
        </ul>
        <p>
            Clicking "Agree" will store your confirmation locally to your device for about <b>{{ cookie_age|seconds_to_human }}</b>, after which you'll be shown this disclaimer again.
        </p>
        <p>
            If you do not agree to the above, please <b>navigate away from this site</b>.
        </p>
        <form method="post">
            <div class="form flex justify-center">
                {% csrf_token %}
                <button class="button positive" type="submit" id="accept-btn">I am 18+ and Agree to the Above</button>
            </div>
        </form>
    </div>
{% endblock content %}
