{% extends "base.html" %}
{% load settings %}
{% block og_title %}
    {% settings_value 'GUNCAD_SITE_NAME' %}
    - Legal Stuff
{% endblock og_title %}
{% block og_description %}
    Terms of Service, Privacy Policy, etc.
{% endblock og_description %}
{% block title %}
    Terms of Use &amp; Privacy Policy
{% endblock title %}
{% block content %}
    <div class="subcontainer">
        <p>Last updated: 2025-08-24</p>
        <h1>Legal Stuff</h1>
        <h2>Disclaimer</h2>
        <p>
            All content on this website is provided <b>as-is</b>, without warranties of any kind -- express or implied -- including accuracy, merchantability, or fitness for a particular purpose. Much of the content displayed here is proxied or cached from external sources; names, descriptions, and depictions of items are &copy; their respective copyright holders, as linked in each entry.
        </p>
        <p>
            The legality of manufacturing homemade weapons or possessing design files varies by jurisdiction. Users are solely responsible for complying with all applicable laws and regulations when browsing, downloading, or manufacturing parts based on designs indexed here.
            {% settings_value 'GUNCAD_SITE_NAME' %}
            accepts no liability for any violations of local law.
        </p>
        <h2>Non-Commercial Use</h2>
        <p>
            Original content hosted on
            {% settings_value 'GUNCAD_SITE_NAME' %}
            may not be used, offered, or repackaged commercially. "Original content" refers to resources served directly on this site and not obtainable via its open-source code repository. This includes, but is not limited to:
        </p>
        <ul>
            <li>Tags and their associations with releases</li>
            <li>Site-wide categorization of releases</li>
        </ul>
        <p>Additionally, no services offered by this site may be proxied or resold commercially. This includes:</p>
        <ul>
            <li>Indexing</li>
            <li>Search functionality</li>
        </ul>
        <p>
            If you have paid for access to this service or any of its information, you have been scammed -- go demand a refund. If you discover this site's content being sold, please notify the administrator.
        </p>
        <p>
            This non-commercial restriction applies only to this site's stateful content. The software itself is licensed under the GNU Affero General Public License v3, and its source code is linked in the footer.
        </p>
        <h2>Privacy Policy</h2>
        <p>
            To serve your requests, we process basic technical data you provide automatically, such as your IP address, the requested URL, and your browser's User-Agent string. This information is logged for debugging purposes -- if that bothers you, use a VPN (which you should already be doing anyway) or browse via Tor.
        </p>
        <p>
            For visitor statistics, your IP address and User-Agent string are combined, salted, hashed via SHA-256, and stored with the timestamp of your most recent visit. This data expires and is purged after 30 days.
        </p>
        <p>
            If you vote on a tag addition/removal or submit a report, a hashed version of your IP address is temporarily stored for deduplication. The data is discarded once an administrator processes the votes.
        </p>
        <h2>Terms of Use</h2>
        <p>
            If you break this website, I reserve the right to remotely twist your balls until they fall off. If you lack appropriate hardware, an alternative punishment may be issued, up to and including (but not limited to): purple nurples, swirlies, remote detonation of your device, and shaming you for being a dick on social media.
        </p>
        <p>
            By using this site, you agree not to scrape the frontend via automation. Please use <a href="{% url 'api-root' %}">the API</a> instead. If you encounter rate limits, reach out to discuss alternatives.
        </p>
        <h2>DMCA</h2>
        <p>
            Content indexed here is obtained via the LBRY blockchain, as maintained by Odysee. For DMCA complaints, please refer to <a href="https://help.odysee.tv/copyright/">Odysee’s copyright policy</a>. Any changes they enforce will be reflected on this site within 1–7 days (usually within a few hours, barring technical delays).
        </p>
    </div>
{% endblock content %}
