.form {
  // We assume that all forms we want to style with this will be wrapped in an
  // element classed as "form"

  @include flex($direction: row);
  @include mobile {
    * {
      flex-grow: 1;
    }
  }

  &.compact, .compact  {
    * {
      padding: 0.5em;
    }
  }
  &.small, .small {
    * {
      font-size: 85%;
    }
  }
  * {
    @include shadow;
    border: 2px solid $background-brighter;
    border-radius: $border-radius;
    background: $background;
    color: $foreground;

    text-decoration: none;
    padding: 1em;
    font-size: 100%;
    transition: $transition;

    &:hover {
      border: 2px solid $primary-alt;
      &.positive {
        border: 2px solid $positive-alt;
      }
      &.negative {
        border: 2px solid $negative-alt;
      }
      &.debug {
        border: 2px solid $debug-alt;
      }
    }
  }
  .group {
    all: unset;
    @include flex($direction: row, $gap: 0);
  }
  .openleft {
    border-radius: 0 8px 8px 0;
    border-left: none !important;
  }
  .openright {
    border-radius: 8px 0 0 8px;
    border-right: none !important;
  }

  a, button {
    display: flex !important;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    background: $primary;

    &:hover {
      background: $primary-alt;
    }
    &.positive {
      color: $foreground-dark;
      background: $positive;
      border: 2px solid $positive;
      &:hover {
        border: 2px solid $positive-alt;
        background: $positive-alt;
      }
    }
    &.negative {
      color: $foreground-dark;
      background: $negative;
      border: 2px solid $negative;
      &:hover {
        border: 2px solid $negative-alt;
        background: $negative-alt;
      }
    }
    &.debug {
      color: $foreground-dark;
      background: $debug;
      border: 2px solid $debug;
      &:hover {
        border: 2px solid $debug-alt;
        background: $debug-alt;
      }
    }
  }
}
