@import "variables";

@mixin container-600 {
  // Sadly, because we're confined to libsass, we don't get to use variables in container queries
  @container (max-width: 600px) {
    @content
  }
}

@mixin container-300 {
  // Sadly, because we're confined to libsass, we don't get to use variables in container queries
  @container (max-width: 300px) {
    @content
  }
}

@mixin mobile {
  @media (max-width: $media-width) {
    @content
  }
}

@mixin flex($block: flex, $direction: row, $align: stretch, $justify: left, $grow: 1, $gap: 8px, $wrap: nowrap) {
  // A flexbox with a column layout
  display: $block;
  flex-direction: $direction;
  flex-grow: $grow;
  align-items: $align;
  justify-content: $justify;
  flex-wrap: $wrap;
  gap: $gap;
}
@mixin grid($block: grid, $flex-grow: 1, $gap: 8px) {
  // A grid
  display: $block;
  gap: $gap;
  flex-grow: $flex-grow;
}

@mixin card {
  @include shadow;
  background-color: $background;
  border-radius: $border-radius;
  padding: 8px;

  &:is(a) {
    border: 2px solid $background;
    color: $foreground;
    &:hover {
      border: 2px solid $primary-alt;
      color: $foreground;
    }
  }

  &.pseudocard {
    .section &, footer & {
      border-color: transparent;
      background-color: transparent;
      box-shadow: none;
    }
  }
}

@mixin fade {
  // Enable transitions
  transition: $transition;
}

@mixin click-through {
  // This element should be able to be clicked throuogh
  pointer-events: none;
}

@mixin dark-on-light {
  // This element needs to render dark text on a light background
  color: $foreground-dark;
}

@mixin shadow {
  // This element should emit a shadow
  box-shadow: $shadow;

  &.birthday {
    box-shadow: $shadow-birthday;
  }
}
