@import "variables"; // Global variables n stuff

@import "mixins"; // Mixins
@import "util"; // Utility subclasses
@import "blurhash"; // Submodule specifically for blurhashes

@import "margins"; // Margin stuffs

@import "core"; // Core styling, especially by ID
@import "components"; // Individual page components
@import "forms"; // Special form styling n shit

@import "snowflakes"; // Christmas styling
@import "legacy"; // Legacy stylesheet migrated from static/styles.css

// From here on, we define default styles for basic tags.

html {
  // The root of the whole document
  background: $background;
  color: $foreground;
  font-family: $font-family;
  line-height: $line-height;
}
body {
  background: $background;
  margin: 0;
}
img {
  font-size: 0;
}
