{% extends "base.html" %}
{% load settings %}
{% load static %}
{% block styles %}
    <link rel="stylesheet"
          href="{% static 'styles-votes.css' %}?cachebuster={% settings_value 'GUNCAD_COMMIT_REF' %}">
{% endblock styles %}
{% block og_title %}
    {% settings_value 'GUNCAD_SITE_NAME' %}
    - Unhandled Reports
{% endblock og_title %}
{% block title %}
    Unhandled Reports
{% endblock title %}
{% block content %}
    <div class="subcontainer">
        <h1>Unhandled Reports</h1>
        {% if not items %}
            <div class="helpblurb">
                <h1>Nothin here boss</h1>
                <p>All's green, according to the community</p>
            </div>
        {% else %}
            <div class="grid-view-max">
                {% for item in items %}
                    <form action="{% url 'tools-reports' %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="release" value="{{ item.release.id }}">
                        <div class="vote-meta flex vertical">
                            {% include 'release.html' with linkurl=True object=item.release %}
                            {% for reason in item.reason_counts.values %}
                                <div class="meta vote-neutral">{{ reason.count }}x {{ reason.label }}</div>
                            {% endfor %}
                            <div class="flex horizontal align-stretch">
                                <button title="Ignore these reports"
                                        class="votebutton accept"
                                        id="accept"
                                        name="decision"
                                        value="ignore"
                                        type="submit">{% heroicon_outline 'check' size=40 stroke_width=4 %}</button>
                                <button title="Take the release down"
                                        class="votebutton reject"
                                        id="reject"
                                        name="decision"
                                        value="takedown"
                                        type="submit">{% heroicon_outline 'fire' size=40 stroke_width=2 %}</button>
                            </div>
                        </div>
                    </form>
                {% endfor %}
            </div>
        {% endif %}
    </div>
{% endblock content %}
