{% extends "base.html" %}
{% load settings %}
{% load static %}
{% block styles %}
    <link rel="stylesheet"
          href="{% static 'styles-votes.css' %}?cachebuster={% settings_value 'GUNCAD_COMMIT_REF' %}">
{% endblock styles %}
{% block og_title %}
    {% settings_value 'GUNCAD_SITE_NAME' %}
    - Pending Tag Votes
{% endblock og_title %}
{% block title %}
    Pending Tag Votes
{% endblock title %}
{% block content %}
    <div class="subcontainer">
        <h1>Pending Tag Votes</h1>
        <p>
            On this screen, you can see the tags users have voted should be assigned to a given release. Please review them and accept/reject them as appropriate.
        </p>
        {% if not items %}
            <div class="helpblurb">
                <h1>Nothin here boss</h1>
                <p>No outstanding votes to review. Come back later, maybe bug people to vote for shit on Twitter or something.</p>
            </div>
        {% else %}
            <div class="grid-view-max">
                {% for vote in items %}
                    <form action="{% url 'tools-votes' %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="release" value="{{ vote.release.id }}">
                        <input type="hidden" name="tag" value="{{ vote.tag.id }}">
                        {% if vote.total_score > 0 %}
                            <input type="hidden" name="action" value="add">
                        {% else %}
                            <input type="hidden" name="action" value="remove">
                        {% endif %}
                        <div class="vote-meta flex vertical">
                            {% include 'release.html' with linkurl=True object=vote.release %}
                            {% if vote.total_score > 0 %}
                                <div class="meta vote-add">
                                    {{ vote.absolute_score }} point(s) to <b>add</b> tag:
                                    {% include 'tag.html' with tag=vote.tag %}
                                </div>
                            {% else %}
                                <div class="meta vote-delete">
                                    {{ vote.absolute_score }} point(s) to <b>remove</b> tag:
                                    {% include 'tag.html' with tag=vote.tag %}
                                </div>
                            {% endif %}
                            <div class="flex horizontal align-stretch">
                                <button title="Commit these changes to the database"
                                        class="votebutton accept"
                                        id="accept"
                                        name="decision"
                                        value="accept"
                                        type="submit">{% heroicon_outline 'check' size=40 stroke_width=4 %}</button>
                                <button title="Reject these changes"
                                        class="votebutton reject"
                                        id="reject"
                                        name="decision"
                                        value="reject"
                                        type="submit">{% heroicon_outline 'x-mark' size=40 stroke_width=4 %}</button>
                            </div>
                        </div>
                    </form>
                {% endfor %}
            </div>
        {% endif %}
    </div>
{% endblock content %}
