{% extends "rest_framework/base.html" %}
{% load settings static %}
{% block title %}
    {% if name %}{{ name }} -{% endif %}
    GunCAD Index API
{% endblock title %}
{% block branding %}
    <a class='navbar-brand'
       href="{{ request.scheme }}://{{ request.get_host }}">{% settings_value 'GUNCAD_SITE_NAME' %}</a>
{% endblock branding %}
{% block style %}
    <link rel="stylesheet"
          type="text/css"
          href="{% static "rest_framework/css/bootstrap.min.css" %}" />
    <link rel="stylesheet"
          type="text/css"
          href="{% static "rest_framework/css/bootstrap-tweaks-guncad.css" %}" />
    <link rel="stylesheet"
          type="text/css"
          href="{% static "rest_framework/css/prettify-guncad.css" %}" />
    {% include 'common-fonts.html' %}
    <link rel="stylesheet"
          type="text/css"
          href="{% static "rest_framework/css/default.css" %}" />
    {% if code_style %}<style>{{ code_style }}</style>{% endif %}
{% endblock style %}
